# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.*.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.backup
.env.local
.env.development
.env.production

# Laravel config & cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/*
!/storage/app/public
!/storage/framework
!/storage/framework/cache
!/storage/framework/cache/data
!/storage/framework/sessions
!/storage/framework/testing
!/storage/framework/views
!/storage/logs
/storage/debugbar
!.gitignore

# Ignore build files (but you should commit build/ on production if you're not using dev server)
public/hot
public/build
public/mix-manifest.json

# IDEs & system files
.idea
*.sublime-project
*.sublime-workspace
*.vscode
*.DS_Store
Thumbs.db
*.log

# SQLite DB if used
/database/*.sqlite
